{
  "swagger": "2.0",
  "info": {
    "description": "A dockerized micro-service for adding, updating, retrieving and deleting files.",
    "version": "1.0.0",
    "title": "File Manager",
    "termsOfService": "",
    "contact": {
      "email": "team-falcon@hng.tech"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags": [
    {
      "name": "file",
      "description": "Everything about file manager"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/api/v1/files": {
      "post": {
        "tags": [
          "file"
        ],
        "summary": "Upload a new file",
        "description": "",
        "operationId": "uploadFile",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "title",
            "type": "string",
            "required": true,
            "description": "File title"
          },
          {
            "in": "formData",
            "name": "file",
            "type": "file",
            "description": "The file to upload",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "file"
        ],
        "summary": "Get all files",
        "description": "",
        "operationId": "updateFile",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/File"
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/api/v1/files/{fileId}": {
      "get": {
        "tags": [
          "file"
        ],
        "summary": "Find file by ID",
        "description": "Returns a single file",
        "operationId": "getFileById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "ID of file to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/File"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "File not found"
          }
        }
      },
      "put": {
        "tags": [
          "file"
        ],
        "summary": "Updates a file",
        "description": "",
        "operationId": "updateFileWithForm",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "ID of file to update",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "name",
            "type": "string",
            "required": true,
            "description": "File name"
          },
          {
            "in": "formData",
            "name": "file",
            "type": "file",
            "description": "The file to upload",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/File"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "File not found"
          }
        }
      },
      "delete": {
        "tags": [
          "file"
        ],
        "summary": "Deletes a file",
        "description": "",
        "operationId": "deleteFile",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "File id to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/File"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    }
  },
  "definitions": {
    "File": {
      "type": "object",
      "required": [
        "name",
        "url"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string",
          "example": "doggie"
        },
        "fileURL": {
          "type": "string",
          "example": "https://cloudinary.com/doggie.png"
        },
        "time": {
          "type": "string",
          "format": "date"
        }
      },
      "xml": {
        "name": "File"
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "host": "file.microapi.dev",
  "basePath": "/"
}
